<!DOCTYPE html>
<html>

<head>
  <title>Gray Zone Warfare Bot - Weapons</title>
  <link rel="canonical" href="https://gzwbot.eu/weapons" />
  <link rel="stylesheet" href="/css/main.css?v=<%= cssVersion %>">
<script src="/js/main.js"></script>
  <meta name="description" content="Explore an arsenal of weapons, from pistols and shotguns to sniper rifles. Discover important stats for your weapon and choose the one that suits you best.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#28B828">
  <link rel="icon" href="/images/web/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/web/favicon.png" type="image/png">
  <meta name="keywords" content="gzw, gray, zone, warfare, wiki, info, weapons, weapon">
  <meta name="subject" content="Gray Zone Warfare">
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='target' content='all'>
  <meta name="audience" content="all" />
  <meta name="topic" content="Gray Zone Warfare Weapons">
  <meta name="summary" content="Explore an arsenal of weapons, from pistols and shotguns to sniper rifles. Discover important stats for your weapon and choose the one that suits you best.">
  <meta property="og:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta property="og:title" content="Gray Zone Warfare Bot - Weapons">
  <meta property="og:description" content="Explore an arsenal of weapons, from pistols and shotguns to sniper rifles. Discover important stats for your weapon and choose the one that suits you best.">
  <meta name="twitter:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta name="twitter:title" content="Gray Zone Warfare Tools - Weapons">
  <meta name="twitter:description" content="Explore an arsenal of weapons, from pistols and shotguns to sniper rifles. Discover important stats for your weapon and choose the one that suits you best.">

  <script src="/js/sort.js"></script>
  <script src="/js/tableMenu.js"></script>
</head>

<body>
  <%- include('./basic/header') -%>

  <div class="container">
    <h1 class="mainheader">Weapon Bodies</h1>

    <div class="tableContainer" id="weaponsTable">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Icon</th>
            <th scope="col" style="text-align: left;">Name</th>
            <th scope="col" onclick="sortTable('weaponsTable', 2)">Caliber</th>
            <th scope="col" onclick="sortTable('weaponsTable', 3)">Weight</th>
            <th scope="col" onclick="sortTable('weaponsTable', 4)">Size</th>
            <th scope="col" onclick="sortTable('weaponsTable', 5)">Fire Rate</th>
            <th scope="col" onclick="sortTable('weaponsTable', 6)">Muzzle Velocity</th>
            <th scope="col" onclick="sortTable('weaponsTable', 7)">Accuracy (MOA)</th>
            <th scope="col" onclick="sortTable('weaponsTable', 8)">Buy</th>
            <th scope="col" onclick="sortTable('weaponsTable', 9)">Sell</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < weapons.length; i++) { %>
          <tr>
            <td><img class="itemIcon" src="/images/items/<%= weapons[i].imageName || "/notfound.webp"  %>"></td>
            <td style="text-align: left;"><%= weapons[i].name %></td>
            <td><%= weapons[i].properties.caliber %></td>
            <td><%= JSON.stringify(weapons[i].properties.weight) %>kg</td>
            <td><%= JSON.stringify(weapons[i].properties.size.X) %>x<%= JSON.stringify(weapons[i].properties.size.Y) %></td>
            <td><%= JSON.stringify(weapons[i].properties.fireRate) %></td>
            <td><%= JSON.stringify(weapons[i].properties.muzzleSpeed) %> m/s</td>
            <td><%= JSON.stringify(weapons[i].properties.accuracy) %></td>
            <td><%= JSON.stringify(weapons[i].properties.price) %></td>
            <td><%= Math.round(weapons[i].properties.price * weapons[i].properties.sellRate) %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>

  <%- include('./basic/footer') -%>
</body>

</html>